<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DocUploadURL</key>
	<dict/>
	<key>DocumentCreationDate</key>
	<date>2020-12-16T19:18:16Z</date>
	<key>DocumentCreator</key>
	<string>Capto</string>
	<key>DocumentDuration</key>
	<integer>7</integer>
	<key>DocumentMediaType</key>
	<integer>1</integer>
	<key>DocumentName</key>
	<string>Capto_Capture 2020-12-16_02-18-16_PM</string>
	<key>DocumentPublishType</key>
	<array/>
	<key>DocumentSize</key>
	<string>{1948, 1094}</string>
	<key>DocumentType</key>
	<integer>4</integer>
	<key>MovieName</key>
	<string>Capto_Capture 2020-12-16_02-18-16_PM.mov</string>
</dict>
</plist>
